In [1]:
# Consider following code to answer further questions:
# import pandas as pd
# course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
# duration = [2,3,6,4]
# df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd

# Create the DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# Print the second row of the DataFrame
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The loc and iloc functions in pandas.DataFrame are used to access data from a DataFrame. The main difference between the two functions is how they handle indexing.

The loc function is used to access data based on labels. It takes two arguments, row labels and column labels, and returns the selected data as a DataFrame. The row and column labels can be specified using their names or a boolean array. For example, df.loc[1, 'column_name'] will return the value in the second row and specified column name.

The iloc function is used to access data based on integer positions. It takes two arguments, row position and column position, and returns the selected data as a DataFrame. The row and column positions start at 0 and are integers. For example, df.iloc[1, 2] will return the value in the second row and third column.

In summary, the loc function uses label-based indexing, while the iloc function uses integer position-based indexing. Therefore, if you want to access data based on labels, use loc, and if you want to access data based on integer positions, use iloc.

Example using loc function:h

In [3]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['row1', 'row2', 'row3'])

# Access data using loc function
print(df.loc['row1', 'A'])
# Output: 1

print()


print(df.loc[['row1', 'row2'], ['A', 'B']])  
#Output 
#    A  B
# row1  1  4
# row2  2  5

1

      A  B
row1  1  4
row2  2  5

In this example, we create a sample DataFrame with three columns A, B, and C and three rows with index labels 'row1', 'row2', and 'row3'. We then use the loc function to access the data based on label-based indexing. The first example prints the value of the 'A' column in the 'row1' row. The second example prints the values of the 'A' and 'B' columns in the 'row1' and 'row2' rows.

Example using iloc function:

In [4]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Access data using iloc function
print(df.iloc[0, 1])  
# Output: 4

print()

print(df.iloc[[0, 2], [0, 2]])  
# Output: 
#    A  C
# 0  1  7
# 2  3  9

4

   A  C
0  1  7
2  3  9

In this example, we create a sample DataFrame with three columns A, B, and C and three rows. We then use the iloc function to access the data based on integer position-based indexing. The first example prints the value of the second column in the first row. The second example prints the values of the first and third columns in the first and third rows.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

# Did you observe any difference in both the outputs? If so then explain it.

In [5]:
import pandas as pd

# Create the DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

#Printing original dataframe
print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:

reindex = [3,0,1,2]

#Reindexing
new_df = df.reindex(reindex)


print(new_df)
print("--+--"*8)

#prints output for both new_df.loc[2]
print(new_df.loc[2])

print("--+--"*8)

#prints output for both new_df.iloc[2]
print(new_df.iloc[2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
--+----+----+----+----+----+----+----+--
course_name    Big Data
duration              6
Name: 2, dtype: object
--+----+----+----+----+----+----+----+--
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

As we can see, both new_df.loc[2] and new_df.iloc[2] return different outputs. The reason for this is that loc[] uses the index label to locate a row while iloc[] uses the integer location of the row. In our case, after reindexing, the index labels of new_df are [3, 0, 1, 2]. Therefore, new_df.loc[2] returns the row with index label 2 which is the row with the index label 1 of the original DataFrame df. On the other hand, new_df.iloc[2] returns the third row of new_df which is the row with the integer location 2 of the original DataFrame df. Hence, the two outputs are different.

# Consider the below code to answer further questions:
# import pandas as pd
# import numpy as np
# columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
# indices = [1,2,3,4,5,6]
# #Creating a dataframe:
# df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)1

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [7]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each and every column present in the dataframe
column_means = df1.mean()
print('Column Means:\n', column_means)

print("\n"+ "----+----"*5 + "\n")

# (ii) Standard deviation of column, ‘column_2’
column_std = df1['column_2'].std()
print('Standard Deviation of Column 2:', column_std)

Column Means:
 column_1    0.579007
column_2    0.258202
column_3    0.707684
column_4    0.528634
column_5    0.517987
column_6    0.509017
dtype: float64

----+--------+--------+--------+--------+----

Standard Deviation of Column 2: 0.26366438724293045

Here, we have used the mean() method to find the mean of each and every column present in the DataFrame df1. The resulting object is a pandas Series object containing the means of all columns.

Similarly, we have used the std() method to find the standard deviation of the column named 'column_2'. The resulting output is a single value representing the standard deviation of the specified column.

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [8]:

import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df1)

# replace the data in the second row of column_2 by a string variable
df1.loc[2, 'column_2'] = 'replacement_string'
print(df1)

# find the mean of column_2
mean_column_2 = df1['column_2'].mean()

print(mean_column_2)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.977249  0.291051  0.349810  0.140889  0.028833  0.136311
2  0.897949  0.038093  0.275504  0.726392  0.467061  0.005823
3  0.612498  0.331558  0.100232  0.977794  0.879334  0.765199
4  0.219596  0.878063  0.976760  0.596896  0.526158  0.622010
5  0.920014  0.036734  0.948989  0.966100  0.412433  0.102836
6  0.400234  0.046206  0.515434  0.995960  0.319367  0.419719
   column_1            column_2  column_3  column_4  column_5  column_6
1  0.977249            0.291051  0.349810  0.140889  0.028833  0.136311
2  0.897949  replacement_string  0.275504  0.726392  0.467061  0.005823
3  0.612498            0.331558  0.100232  0.977794  0.879334  0.765199
4  0.219596            0.878063  0.976760  0.596896  0.526158  0.622010
5  0.920014            0.036734  0.948989  0.966100  0.412433  0.102836
6  0.400234            0.046206  0.515434  0.995960  0.319367  0.419719

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Yes, we will get a TypeError: unsupported operand type(s) for +: 'float' and 'str' . This error occurs because Python doesn't know how to add a string and a float together while calculating the mean.

# Q6. What do you understand about the windows function in pandas and list the types of windows
# functions?

In pandas, a window function is a function that operates on a sliding window of data, which is defined by a window size and an optional window offset. Window functions are used to calculate aggregate statistics and other operations over a rolling or expanding window of data, rather than over the entire dataset.

There are several types of window functions in pandas, including:

1)Rolling window functions: These functions operate on a fixed-size window of data that slides over the data frame. Examples of rolling window functions include rolling, expanding, rolling_apply, and rolling_corr.

2)Expanding window functions: These functions operate on a growing window of data that starts at the beginning of the data frame and expands until it encompasses the entire dataset. Examples of expanding window functions include expanding, expanding_apply, and expanding_sum.

3)Exponential weighted window functions: These functions apply weights that decrease exponentially as the distance from the current point increases. Examples of exponential weighted window functions include ewm and ewmcorr.

4)Aggregation functions: These functions are used to calculate summary statistics over a window of data, such as mean, median, sum, and standard deviation. Examples of aggregation functions include mean, sum, median, and std.

5)Transformation functions: These functions are used to transform the data in a window, such as by applying a function to each element in the window or scaling the data to have a mean of zero and a standard deviation of one. Examples of transformation functions include apply and transform.

Overall, window functions are a powerful tool for analyzing time series data and other sequential data in pandas, and they can be used to calculate a wide range of aggregate statistics and other operations over a rolling or expanding window of data.

Rolling window function

In [9]:
import pandas as pd

# Create a data frame
df = pd.DataFrame({'value': [1, 2, 3, 4, 5]})

# Calculate the rolling sum over a window of size 2
rolling_sum = df.rolling(window=2).sum()

print(rolling_sum)

   value
0    NaN
1    3.0
2    5.0
3    7.0
4    9.0

This code uses the rolling() function to calculate the rolling sum of a window of size 2 over the value column of the data frame.

Expanding window function:m

In [11]:
import pandas as pd

# Create a data frame
df = pd.DataFrame({'value': [1, 2, 3, 4, 5]})

# Calculate the expanding sum of the data
expanding_sum = df.expanding().sum()

print(expanding_sum)

   value
0    1.0
1    3.0
2    6.0
3   10.0
4   15.0

This code uses the expanding() function to calculate the expanding sum of the value column of the data frame.

Exponential weighted window function:

In [12]:
import pandas as pd

# Create a data frame
df = pd.DataFrame({'value': [1, 2, 3, 4, 5]})

# Calculate the exponential moving average of the data with a span of 2
ewma = df.ewm(span=2).mean()

print(ewma)

      value
0  1.000000
1  1.750000
2  2.615385
3  3.550000
4  4.520661

This code uses the ewm() function to calculate the exponential moving average of the value column of the data frame with a span of 2.

Aggregation function:

In [13]:
import pandas as pd

# Create a data frame
df = pd.DataFrame({'value': [1, 2, 3, 4, 5]})

# Calculate the rolling mean over a window of size 2
rolling_mean = df.rolling(window=2).mean()

print(rolling_mean)

   value
0    NaN
1    1.5
2    2.5
3    3.5
4    4.5

This code uses the rolling() function to calculate the rolling mean of a window of size 2 over the value column of the data frame.

Transformation function:

import pandas as pd

In [14]:

import pandas as pd

# Create a data frame
df = pd.DataFrame({'value': [1, 2, 3, 4, 5]})

# Scale the data to have a mean of zero and a standard deviation of one
z_score = df['value'].transform(lambda x: (x - x.mean()) / x.std())

print(z_score)

0   -1.264911
1   -0.632456
2    0.000000
3    0.632456
4    1.264911
Name: value, dtype: float64


This code uses the transform() function to scale the value column of the data frame to have a mean of zero and a standard deviation of one using a lambda function.

# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

In [16]:
mport pandas as pd
from datetime import datetime

# Create a pandas Timestamp object for the current date and time

current_time = pd.Timestamp(datetime.now())

# Get the current month and year from the Timestamp object
current_month = current_time.month
current_year = current_time.year

# Print the current month and year
print("The current month and year are: {} {}".format(current_month, current_year))

The current month and year are: 4 2023

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

Here's a Python program that takes in two dates as input and calculates the difference between them in days, hours, and minutes using Pandas time delta:

In [17]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date in the format YYYY-MM-DD: ")
date2 = input("Enter the second date in the format YYYY-MM-DD: ")

# Convert the input strings to datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the dates
delta = date2 - date1

# Extract the number of days, hours, and minutes from the timedelta object
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60

# Display the result
print(f"The difference between {date1} and {date2} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date in the format YYYY-MM-DD: 2023-02-22
Enter the second date in the format YYYY-MM-DD: 2023-06-28
The difference between 2023-02-22 00:00:00 and 2023-06-28 00:00:00 is 126 days, 0 hours, and 0 minutes.

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.

Here's a Python program that reads a CSV file containing categorical data, converts a specified column to a categorical data type, prompts the user to enter the file path, column name, and category order, and displays the sorted data:

In [ ]:
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

# Read the CSV file
data = pd.read_csv(file_path)

# Convert the specified column to a categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# Sort the data by the specified column
data_sorted = data.sort_values(by=column_name)

# Display the sorted data
print(data_sorted)

# Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path for the CSV file: ")

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)
print("\n\t\tOriginal Data\n")
print(df.head())
print("----+----"*7)

# Convert the date column to a datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Group the DataFrame by date and product category, and sum the sales
grouped_sales = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()

#Printing grouped sales data 
print("\n\tGrouped Sales data\n")
print(grouped_sales.head())
print("----+----"*7)

# Plot the stacked bar chart
grouped_sales.plot(kind='bar', stacked=True)

# Set the chart title and axis labels
plt.title('Sales by Product Category\n')
plt.xlabel('\nDate')
plt.ylabel('Sales')

# Display the chart
plt.show()